<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'/>
    <link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />
    <!--<link rel="stylesheet" href="./assets/styles.css" type="text/css" />-->
    <title>Eat-Burger</title>
</head>
<body class="full">
    {{{body}}}

    <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>